*{
    margin: 0;
    padding: 0;
}
body{
    background-color: chocolate;
    display: flex;
}

.container{
    height: 100vh;
}
.card1{
    background-color: yellow;
    width: 80%;
    height: 80%;
    margin: 4rem auto ;
    border-radius: 10px;
    
}
.card2{
    background-color: brown;
    width: 100%;
    height: 80vh;
    margin: 4rem auto ;
    border-radius: 10px;
    
}
.card3{
    background-color:blue;
    width: 100%;
    height: 50vh;
    margin: 4rem auto ;
    border-radius: 10px;
}

.images-container{  
    display: flex;

}

.images-1{
    flex-direction: row;
    justify-content: center;
}

.images-2{
    flex-direction: row;
    margin: auto;
}

.images-3{
    flex-direction: row;
    margin: auto;
}

.image{
    margin: 10px;
    width: 200x;
    height: 200px;

}

.texts-container{
    display: flex;
}

.text-fields-1{
    font-size: large;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.text-fields-2{
    color: white;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.text-fields-3{
    font-size: small;
}
.adminContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.adminTitel{
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    width: 100%;
    height: max-content;
    background-color: wheat;
    padding: 15px;
    border-radius: 3%;
    
}
.password{
    margin-bottom: 50px; 
}
label {
    display: block;
}
.users{
    border: 2px solid black;
    background-color: blanchedalmond;
}
.user{
    padding: 10px;
}